<div id="portfolio" class="{{ section.background_style }}">
  <div class="container-fluid p-0">
    <div class="row g-0">
      {% for proj in section.projects %}
      <div class="col-lg-4 col-sm-6">
          <a class="portfolio-box" href="assets/img/portfolio/fullsize/{{ proj.icon }}" title="{{ proj.title }}">
              <img class="img-fluid" src="assets/img/portfolio/thumbnails/{{ proj.icon }}" alt="{{ proj.icon }}" />
              <div class="portfolio-box-caption">
                  <div class="project-category text-white-50">{{ proj.title }}</div>
                  <div class="project-name">{{ proj.text }}</div>
              </div>
          </a>
      </div>
      {% endfor %}
    </div>
  </div>
  <br/>
    <center>
  <iframe class="instagram-media instagram-media-rendered instagram-center" id="instagram-embed-0" src="https://www.instagram.com/edensnickeri/embed/?cr=1&amp;v=14&amp;wp=1080&amp;rd=https%3A%2F%2Fwww.edensnickeri.se" allowtransparency="true" allowfullscreen="true" frameborder="0" height="560" data-instgrm-payload-id="instagram-media-payload-0" scrolling="no" style="max-width: 540px; width: calc(100% - 2px); background-color: white; border-radius: 3px; border: 1px solid rgb(219, 219, 219); box-shadow: none; display: block; margin: 0px 0px 12px; min-width: 326px; padding: 0px;"></iframe>
</center>
</div>
